- @title = nil
- @body_id = "demo"
#ewrap
  #explanation
    %h2 Gold coins for 0xBitcoin
    %p This is a test shop to sell a Gold Coin
    %p Click the <code>Pay with 0xBitcoin</code> button to create your order and pay.
%h2 Your cart
%ul
  - @shirts.times do |i|
    %li
      %img(src="https://raw.githubusercontent.com/0xbitcoinsupply/Files/master/2tlaYba.jpg")
      Austrian 4 ducats ##{i+1}: #{@price} 0xBTC
%h2 Total: #{@total} 0xBTC
%p Pay now to receive your spicy memes.
%form(method="post")
  %input#very_secure(name="total" type="hidden" value=@total)
  %button Pay now with 0xBitcoin